@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Programmeren 5<br />
    Wim Aerts<br />
    10441<br />
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:wim.aerts@gmail.com">wim.aerts@gmail.com</a><br />
</address>