@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>
        Deze MVC toepassing stelt u in staat om elektronische componenten te beheren!
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="img">
        </div>
    </div>
</div>